<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.edsilfer.moviedb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".infrastructure.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- LAUNCHER ACTIVITY LOGIN =========================================================== -->
        <activity
            android:name=".controller.activities.ActivityHomepage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVITY MOVIE ==================================================================== -->
        <activity
            android:name=".controller.activities.ActivityMovieDetails"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <!-- ACTIVITY ABOUT ==================================================================== -->
        <activity
            android:name=".controllers.activities.ActivityAbout"
            android:screenOrientation="portrait" />
    </application>
</manifest>
